Repository freeCodeCamp/devdocs, pull requests merged in 2019-08, with the labels that each got.

#972 Dynamic favicon
  assets/javascripts/lib/favicon.coffee
  assets/javascripts/views/content/content.coffee
  assets/javascripts/views/content/entry_page.coffee
  assets/javascripts/views/content/type_page.coffee
Labels: improvement

#968 Update Elixir documentation (1.8.1 & 1.7.4)
  lib/docs/filters/elixir/clean_html.rb
  lib/docs/scrapers/elixir.rb
Labels: docs/update

#990 Add support for Clojure 1.10 and "master"
  lib/docs/scrapers/clojure.rb
Labels: docs/update

#955 Update Qt docs
  lib/docs/filters/qt/clean_html.rb
  lib/docs/filters/qt/entries.rb
  lib/docs/scrapers/qt.rb
Labels: docs/update

#978 Update Homebrew to 2.0.1
  lib/docs/filters/homebrew/clean_html.rb
  lib/docs/filters/homebrew/entries.rb
  lib/docs/scrapers/homebrew.rb
Labels: docs/update

#976 Add Docker 18.03
  lib/docs/scrapers/docker.rb
Labels: docs/update

#999 Fix Ramda scraper
  lib/docs/filters/ramda/clean_html.rb
  lib/docs/scrapers/ramda.rb
Labels: docs/update

#705 Adds Scala documentation
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_scala.scss
  lib/docs/filters/scala/clean_html.rb
  lib/docs/filters/scala/entries.rb
  lib/docs/scrapers/scala.rb
  public/icons/docs/scala/16.png
  public/icons/docs/scala/16@2x.png
Labels: docs/new

#773 Add WordPress documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_wordpress.scss
  lib/docs/filters/wordpress/clean_html.rb
  lib/docs/filters/wordpress/entries.rb
  lib/docs/scrapers/wordpress.rb
  public/icons/docs/wordpress/16.png
  public/icons/docs/wordpress/16@2x.png
  public/icons/docs/wordpress/SOURCE
Labels: docs/new

#875 Add documentation for cypress.io
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_cypress.scss
  lib/docs/filters/cypress/clean_html.rb
  lib/docs/filters/cypress/entries.rb
  lib/docs/scrapers/cypress.rb
  public/icons/docs/cypress/16.png
  public/icons/docs/cypress/16@2x.png
  public/icons/docs/cypress/SOURCE.ico
Labels: docs/new

#876 Add Salt Stack documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/salt_stack/clean_html.rb
  lib/docs/filters/salt_stack/entries.rb
  lib/docs/scrapers/salt_stack.rb
  public/icons/docs/saltstack/16.png
  public/icons/docs/saltstack/16@2x.png
  public/icons/docs/saltstack/SOURCE
Labels: docs/new

#879 Add Composer
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/composer/clean_html.rb
  lib/docs/filters/composer/entries.rb
  lib/docs/scrapers/composer.rb
  public/icons/docs/composer/16.png
  public/icons/docs/composer/16@2x.png
  public/icons/docs/composer/SOURCE
Labels: docs/new

#881 Add Vue Router reference
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/vue_router/clean_html.rb
  lib/docs/filters/vue_router/entries.rb
  lib/docs/scrapers/vue_router.rb
  public/icons/docs/vue_router/16.png
  public/icons/docs/vue_router/16@2x.png
  public/icons/docs/vue_router/SOURCE
Labels: docs/new

#910 Add Vuex reference
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/vuex/clean_html.rb
  lib/docs/filters/vuex/entries.rb
  lib/docs/scrapers/vuex.rb
  public/icons/docs/vuex/16.png
  public/icons/docs/vuex/16@2x.png
  public/icons/docs/vuex/SOURCE
Labels: docs/new

#952 Add pony
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/pony/clean_html.rb
  lib/docs/filters/pony/entries.rb
  lib/docs/scrapers/pony.rb
  public/icons/docs/pony/16.png
  public/icons/docs/pony/16@2x.png
  public/icons/docs/pony/SOURCE
Labels: docs/new

#954 Add RxJS
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_rxjs.scss
  lib/docs/filters/rxjs/clean_html.rb
  lib/docs/filters/rxjs/entries.rb
  lib/docs/scrapers/rxjs.rb
  public/icons/docs/rxjs/16.png
  public/icons/docs/rxjs/16@2x.png
  public/icons/docs/rxjs/SOURCE
Labels: docs/new

#982 Add Octave Documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/javascripts/vendor/prism.js
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_octave.scss
  lib/docs/filters/octave/clean_html.rb
  lib/docs/filters/octave/entries.rb
  lib/docs/scrapers/octave.rb
  public/icons/docs/octave/16.png
  public/icons/docs/octave/16@2x.png
  public/icons/docs/octave/SOURCE
Labels: docs/new

#1002 Add the trio documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/trio/clean_html.rb
  lib/docs/filters/trio/entries.rb
  lib/docs/scrapers/trio.rb
  public/icons/docs/trio/16.png
  public/icons/docs/trio/16@2x.png
  public/icons/docs/trio/SOURCE
Labels: docs/new

#1003 Add Django REST Framework documentantion
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_mkdocs.scss
  lib/docs/filters/django_rest_framework/clean_html.rb
  lib/docs/filters/django_rest_framework/entries.rb
  lib/docs/filters/mkdocs/clean_html.rb
  lib/docs/scrapers/mkdocs/django_rest_framework.rb
  lib/docs/scrapers/mkdocs/mkdocs.rb
  public/icons/docs/django_rest_framework/16.png
  public/icons/docs/django_rest_framework/16@2x.png
  public/icons/docs/django_rest_framework/SOURCE
Labels: docs/new
