Repository freeCodeCamp/devdocs, pull requests merged in 2020-11, with the labels that each got.

#1175 angular: add versions 9–11
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/angular.rb
Labels: docs/update

#1310 codeigniter: add version 4
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/codeigniter.rb
Labels: docs/update

#1225 Add documentation for Spring Boot
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/spring_boot/clean_html.rb
  lib/docs/filters/spring_boot/entries.rb
  lib/docs/scrapers/spring_boot.rb
  public/icons/docs/spring_boot/16.png
  public/icons/docs/spring_boot/16@2x.png
  public/icons/docs/spring_boot/SOURCE
Labels: docs/new+request

#1238 Fix Elixir documentation layout
  lib/docs/filters/elixir/clean_html.rb
  lib/docs/filters/elixir/entries.rb
  lib/docs/scrapers/elixir.rb
Labels: docs/improvement

#1311 elixir: add versions 1.10 and 1.11
  lib/docs/scrapers/elixir.rb
Labels: docs/update

#1241 Add PyTorch v1.5.0 documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/pytorch/clean_html.rb
  lib/docs/filters/pytorch/entries.rb
  lib/docs/scrapers/pytorch.rb
  public/icons/docs/pytorch/16.png
  public/icons/docs/pytorch/16@2x.png
  public/icons/docs/pytorch/SOURCE
Labels: docs/new+request

#1228 Added new laravel versions and fixed scraper
  lib/docs/filters/laravel/clean_html.rb
  lib/docs/filters/laravel/entries.rb
  lib/docs/scrapers/laravel.rb
Labels: docs/update

#1312 Update CMake Documentation
  lib/docs/filters/cmake/entries.rb
  lib/docs/scrapers/cmake.rb
Labels: docs/update

#1313 mdn: update CSS, HTML, JavaScript, SVG, XSLT&XPath
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/mdn/mdn.rb
  lib/docs/scrapers/mdn/xslt_xpath.rb
Labels: docs/update

#1196 Update crystal 0.35
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/crystal/entries.rb
  lib/docs/scrapers/crystal.rb
Labels: docs/update

#1169 Update Godot versions
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/godot.rb
Labels: docs/update

#1315 Fix Codeigniter scraper
  assets/stylesheets/pages/_sphinx.scss
  lib/docs/filters/codeigniter/entries.rb
Labels: docs/improvement

#1319 Update Fish scraper
  lib/docs/filters/fish/clean_html_custom.rb
  lib/docs/filters/fish/clean_html_sphinx.rb
  lib/docs/filters/fish/entries_custom.rb
  lib/docs/filters/fish/entries_sphinx.rb
  lib/docs/scrapers/fish.rb
  public/icons/docs/fish/16.png
  public/icons/docs/fish/16@2x.png
  public/icons/docs/fish/SOURCE
Labels: docs/update

#1321 Update mocha to 8.2.1
  lib/docs/filters/mocha/clean_html.rb
  lib/docs/filters/mocha/entries.rb
  lib/docs/scrapers/mocha.rb
Labels: docs/update

#1262 Update Phoenix doc (1.5.6) and add LiveView
  lib/docs/scrapers/phoenix.rb
Labels: docs/update

#1165 Split Tensorflow into separate Python and C++ docs
  assets/javascripts/news.json
  lib/docs/filters/tensorflow/clean_html.rb
  lib/docs/filters/tensorflow/entries.rb
  lib/docs/scrapers/tensorflow/tensorflow.rb
  lib/docs/scrapers/tensorflow/tensorflow_cpp.rb
  public/icons/docs/tensorflow_cpp/16.png
  public/icons/docs/tensorflow_cpp/16@2x.png
  public/icons/docs/tensorflow_cpp/SOURCE
Labels: docs/improvement

#1328 Updated Django Documentation (3.1.4)
  docs/file-scrapers.md
  lib/docs/scrapers/django.rb
Labels: docs/update

#1329 Update babel to 7.12.6
  lib/docs/filters/babel/clean_html.rb
  lib/docs/filters/babel/entries.rb
  lib/docs/scrapers/babel.rb
Labels: docs/update

#1330 kotlin: update release 1.4.10
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/kotlin/clean_html.rb
  lib/docs/scrapers/kotlin.rb
Labels: docs/update

#1325 Update Gcc scraper
  docs/file-scrapers.md
  lib/docs/scrapers/gnu/gcc.rb
Labels: docs/update

#1333 Update Falcon documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/falcon/entries.rb
  lib/docs/scrapers/falcon.rb
Labels: docs/update

#1334 Update Less documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/less/clean_html.rb
  lib/docs/scrapers/less.rb
Labels: docs/update

#1335 Update Jekyll documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/jekyll/entries.rb
  lib/docs/scrapers/jekyll.rb
Labels: docs/update

#1336 Update Gnu Fortran to 10.2.0
  docs/file-scrapers.md
  lib/docs/scrapers/gnu/gnu_fortran.rb
Labels: docs/update

#1340 eslint: update release 7.13.0
  lib/docs/filters/eslint/clean_html.rb
  lib/docs/scrapers/eslint.rb
Labels: docs/update

#1339 thor updates:check --markdown
  lib/tasks/updates.thor
Labels: improvement

#1341 rust: update release 1.47.0
  lib/docs/scrapers/rust.rb
Labels: docs/update

#1342 jquery_core: update release 3.5.1
  lib/docs/scrapers/jquery/jquery_core.rb
Labels: docs/update

#1343 mdn: update HTTP
  lib/docs/filters/http/entries.rb
  lib/docs/scrapers/http.rb
Labels: docs/update

#1270 Add Elisp docs for version 26.3
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_elisp.scss
  lib/docs/filters/elisp/clean_html.rb
  lib/docs/filters/elisp/entries.rb
  lib/docs/scrapers/elisp.rb
  public/icons/docs/elisp/16.png
  public/icons/docs/elisp/16@2x.png
  public/icons/docs/elisp/SOURCE
Labels: docs/new+request

#1344 bootstrap: update release 4.5
  lib/docs/filters/bootstrap/clean_html_v4.rb
  lib/docs/scrapers/bootstrap.rb
  public/icons/docs/bootstrap/SOURCE
Labels: docs/update

#1345 git: update release 2.29.2
  lib/docs/scrapers/git.rb
Labels: docs/update

#1346 flow: update release 0.138.0
  lib/docs/scrapers/flow.rb
Labels: docs/update

#1347 homebrew: update release 2.5.11
  lib/docs/filters/homebrew/clean_html.rb
  lib/docs/scrapers/homebrew.rb
  public/icons/docs/homebrew/SOURCE
Labels: docs/update

#1348 wordpress: update release 5.5.3
  lib/docs/scrapers/wordpress.rb
Labels: docs/update

#1349 modernizr: update release 3.11.3
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/modernizr.rb
Labels: docs/update

#1351 Update 5 documentations to their latest versions
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/codeceptjs/clean_html.rb
  lib/docs/filters/codeceptjs/entries.rb
  lib/docs/filters/electron/clean_html.rb
  lib/docs/scrapers/async.rb
  lib/docs/scrapers/bluebird.rb
  lib/docs/scrapers/codeception.rb
  lib/docs/scrapers/codeceptjs.rb
  lib/docs/scrapers/electron.rb
  public/icons/docs/codeceptjs/16.png
  public/icons/docs/codeceptjs/16@2x.png
  public/icons/docs/codeceptjs/SOURCE
Labels: docs/update

#1350 Update Gnu Cobol to 3.1
  lib/docs/filters/gnu_cobol/clean_html.rb
  lib/docs/scrapers/gnu_cobol.rb
Labels: docs/update

#1354 Update Typescript to 4.0.5
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/typescript/clean_html.rb
  lib/docs/filters/typescript/entries.rb
  lib/docs/scrapers/typescript.rb
Labels: docs/update

#1355 Update QT documentation
  lib/docs/scrapers/qt.rb
Labels: docs/update

#1357 doc.is_outdated: split on [-.], add unit tests
  lib/docs/core/doc.rb
  test/lib/docs/core/doc_test.rb
Labels: improvement

#1361 Update haskell version 8 to 8.10.2
  lib/docs/scrapers/haskell.rb
Labels: docs/update

#1363 Update Dart version 2 to 2.10.4
  docs/file-scrapers.md
  lib/docs/scrapers/dart.rb
Labels: docs/update

#1364 Support PyTorch v1.6.0+ doc structure
  lib/docs/filters/pytorch/entries.rb
  lib/docs/scrapers/pytorch.rb
Labels: docs/improvement

#1365 typescript: update release 4.1.2
  lib/docs/scrapers/typescript.rb
Labels: docs/update

#1366 underscore: update release 1.11.0
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/underscore.rb
Labels: docs/update

#1367 support_tables: update, use npm versioning
  lib/docs/scrapers/support_tables.rb
  public/icons/docs/support_tables/16.png
  public/icons/docs/support_tables/16.pxm
  public/icons/docs/support_tables/16@2x.png
  public/icons/docs/support_tables/16@2x.pxm
  public/icons/docs/support_tables/SOURCE
Labels: docs/update

#1368 jsdoc: update links
  lib/docs/scrapers/jsdoc.rb
Labels: docs/update

#1369 d: update release 2.094.2
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/d.rb
Labels: docs/update

#1370 webpack: add version 4.44 and 5.6
  lib/docs/filters/webpack/clean_html.rb
  lib/docs/scrapers/webpack.rb
Labels: docs/update

#1371 Update Rust to 1.48.0, fix 'notable trait' display
  lib/docs/filters/rust/clean_html.rb
  lib/docs/filters/rust/entries.rb
  lib/docs/scrapers/rust.rb
Labels: docs/improvement, docs/update

#1253 Changed the display absolute to flex for both 404 and 500 page
  public/404.html
  public/500.html
Labels: improvement

#1378 Update Grunt documentation
  lib/docs/scrapers/grunt.rb
Labels: docs/update

#1380 Update Jasmine documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/jasmine.rb
Labels: docs/update

#1383 Minor fix to Knockout documentation
  lib/docs/filters/knockout/entries.rb
Labels: docs/improvement

#1384 Update Koa documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/koa.rb
Labels: docs/update
