Repository freeCodeCamp/devdocs, pull requests merged in 2020-12, with the labels that each got.

#1394 Update Enzyme to 3.11
  lib/docs/scrapers/enzyme.rb
Labels: docs/update

#1395 Update Perl documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/pages/_perl.scss
  docs/file-scrapers.md
  lib/docs/filters/perl/clean_html.rb
  lib/docs/filters/perl/entries.rb
  lib/docs/filters/perl/pre_clean_html.rb
  lib/docs/scrapers/perl.rb
Labels: docs/update

#1397 Update Redux to 4.0.5
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/redux/clean_html.rb
  lib/docs/filters/redux/entries.rb
  lib/docs/scrapers/redux.rb
Labels: docs/update

#1399 Update Relay to 10.1.0
  lib/docs/filters/relay/clean_html.rb
  lib/docs/filters/relay/entries.rb
  lib/docs/scrapers/relay.rb
Labels: docs/update

#1398 Add HAProxy documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_haproxy.scss
  lib/docs/filters/haproxy/clean_html.rb
  lib/docs/filters/haproxy/entries.rb
  lib/docs/scrapers/haproxy.rb
  public/icons/docs/haproxy/16.png
  public/icons/docs/haproxy/16@2x.png
  public/icons/docs/haproxy/SOURCE
Labels: docs/new+request

#1400 Add Groovy documentation
  assets/javascripts/news.json
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_groovy.scss
  lib/docs/filters/groovy/clean_html.rb
  lib/docs/filters/groovy/entries.rb
  lib/docs/scrapers/groovy.rb
  public/icons/docs/groovy/16.png
  public/icons/docs/groovy/16@2x.png
  public/icons/docs/groovy/SOURCE
Labels: docs/new+request

#1405 Cleanup, multi-version, and improve Relay scraper
  lib/docs/filters/relay/clean_html.rb
  lib/docs/filters/relay/entries.rb
  lib/docs/scrapers/relay.rb
Labels: docs/improvement

#1406 Cleanup and improve TypeScript scraper
  lib/docs/filters/typescript/clean_html.rb
  lib/docs/filters/typescript/entries.rb
  lib/docs/scrapers/typescript.rb
Labels: docs/improvement

#1407 Update Nim to 1.4.2
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/nim/clean_html.rb
  lib/docs/filters/nim/entries.rb
  lib/docs/scrapers/nim.rb
Labels: docs/update

#1408 Add Pallets projects (Flask, Jinja, and Werkzeug) documentation
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/flask/entries.rb
  lib/docs/filters/jinja/entries.rb
  lib/docs/filters/werkzeug/entries.rb
  lib/docs/scrapers/flask.rb
  lib/docs/scrapers/jinja.rb
  lib/docs/scrapers/werkzeug.rb
  public/icons/docs/flask/16.png
  public/icons/docs/flask/16@2x.png
  public/icons/docs/flask/SOURCE
  public/icons/docs/jinja/16.png
  public/icons/docs/jinja/16@2x.png
  public/icons/docs/jinja/SOURCE
  public/icons/docs/werkzeug/16.png
  public/icons/docs/werkzeug/16@2x.png
  public/icons/docs/werkzeug/SOURCE
Labels: docs/new+request

#1410 Update Pony documentation (0.38.1)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/pony/clean_html.rb
  lib/docs/scrapers/pony.rb
Labels: docs/update

#1403 Update Twig to 3.1.1 and update previous versions
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/twig/clean_html.rb
  lib/docs/scrapers/twig.rb
  public/icons/docs/twig/16.png
  public/icons/docs/twig/16@2x.png
  public/icons/docs/twig/SOURCE
Labels: docs/update

#1413 Update Pygame documentation (2.0.0)
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_pygame.scss
  lib/docs/filters/pygame/clean_html.rb
  lib/docs/filters/pygame/entries.rb
  lib/docs/filters/pygame/pre_clean_html.rb
  lib/docs/scrapers/pygame.rb
Labels: docs/update

#1414 Update Bash to 5.1
  lib/docs/filters/bash/entries.rb
  lib/docs/scrapers/bash.rb
Labels: docs/update

#1415 Update Padrino to 0.15
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/padrino.rb
Labels: docs/update

#1416 Add non-api sections to typescript
  lib/docs/scrapers/typescript.rb
Labels: docs/improvement

#1418 Update arrow scroll copy
  assets/javascripts/templates/pages/settings_tmpl.coffee
  assets/javascripts/templates/tip_tmpl.coffee
Labels: improvement

#1423 Update scikit-learn documentation (0.23.2)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/scikit_learn/clean_html.rb
  lib/docs/scrapers/scikit_learn.rb
Labels: docs/update

#1424 Update Scikit-image documentation (0.17.2)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/scikit_image.rb
Labels: docs/update

#1425 Update Octave to 5.2.0 and add version 6
  lib/docs/scrapers/octave.rb
Labels: docs/update

#1426 Update self.links in several scrapers
  lib/docs/scrapers/angularjs.rb
  lib/docs/scrapers/clojure.rb
  lib/docs/scrapers/gnuplot.rb
  lib/docs/scrapers/graphite.rb
  lib/docs/scrapers/lua.rb
  lib/docs/scrapers/modernizr.rb
  lib/docs/scrapers/openjdk.rb
  lib/docs/scrapers/tcl_tk.rb
Labels: docs/improvement

#1427 Improve syntax highlight of Sass
  lib/docs/filters/sass/clean_html.rb
Labels: docs/improvement

#1431 Make arrow scroll copy dynamic on help page
  assets/javascripts/templates/pages/help_tmpl.coffee
  assets/javascripts/templates/tip_tmpl.coffee
Labels: improvement

#1419 Update Rethinkdb to 2.4.1
  lib/docs/filters/rethinkdb/clean_html.rb
  lib/docs/filters/rethinkdb/entries.rb
  lib/docs/scrapers/rethinkdb.rb
Labels: docs/update

#1421 Update Npm to 7.1.2
  lib/docs/filters/npm/clean_html.rb
  lib/docs/filters/npm/entries.rb
  lib/docs/scrapers/npm.rb
Labels: docs/update

#1432 Typescript: add 'tsconfig' section and update scraper to 4.1.3
  lib/docs/filters/typescript/clean_html.rb
  lib/docs/filters/typescript/entries.rb
  lib/docs/scrapers/typescript.rb
Labels: docs/improvement

#1420 Update QT documentation (6.0)
  lib/docs/scrapers/qt.rb
Labels: docs/update

#1433 Update Cypress to 6.1.0
  lib/docs/scrapers/cypress.rb
Labels: docs/update

#1435 Restore old URLs to TypeScript documentation
  lib/docs/filters/typescript/clean_html.rb
  lib/docs/filters/typescript/entries.rb
  lib/docs/scrapers/typescript.rb
Labels: docs/improvement

#1437 Update Jekyll to 4.2.0
  lib/docs/scrapers/jekyll.rb
Labels: docs/update

#1438 Update Sinon version 7 and add version 8 and 9
  lib/docs/filters/sinon/clean_html.rb
  lib/docs/scrapers/sinon.rb
Labels: docs/update

#1439 Add GTK documentation
  assets/javascripts/news.json
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_gtk.scss
  docs/scraper-reference.md
  lib/docs/core/doc.rb
  lib/docs/filters/gtk/clean_html.rb
  lib/docs/filters/gtk/entries.rb
  lib/docs/scrapers/gtk.rb
  public/icons/docs/gtk/16.png
  public/icons/docs/gtk/16@2x.png
  public/icons/docs/gtk/SOURCE
Labels: docs/new+request

#1440 Fix CodeIgniter scraper
  lib/docs/filters/codeigniter/entries.rb
  lib/docs/filters/sphinx/clean_html.rb
  lib/docs/scrapers/codeigniter.rb
Labels: docs/improvement

#1447 Update Matplotlib documentation (3.3.3)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/matplotlib.rb
Labels: docs/update

#1448 Update Chef documentation (16.8.14)
  lib/docs/scrapers/chef.rb
Labels: docs/update

#1449 Update Node.js documentation (15.5.0)
  lib/docs/scrapers/node.rb
Labels: docs/update

#1450 Update Redis documentation (6.0.9)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/redis.rb
Labels: docs/update

#1451 Update Sequelize documentation (6.3.5)
  lib/docs/scrapers/sequelize.rb
Labels: docs/update

#1452 Update WordPress documentation (5.6)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/scrapers/wordpress.rb
Labels: docs/update
