Repository freeCodeCamp/devdocs, pull requests merged in 2021-03, with the labels that each got.

#1492 Update SQLite documentation (3.34.0)
  assets/stylesheets/pages/_sqlite.scss
  lib/docs/filters/core/clean_text.rb
  lib/docs/filters/sqlite/clean_html.rb
  lib/docs/scrapers/sqlite.rb
Labels: docs/update

#1496 Update TypeScript documentation (New Handbook)
  assets/stylesheets/application.css.scss
  assets/stylesheets/pages/_typescript.scss
  lib/docs/filters/typescript/clean_html.rb
  lib/docs/filters/typescript/entries.rb
  lib/docs/scrapers/typescript.rb
Labels: docs/update

#1512 fix: prevent Deploy action running on forks
  .github/workflows/build.yml
Labels: improvement

#1513 feat: add doc report scheduled action
  .github/workflows/schedule-doc-report.yml
Labels: feature
