Repository freeCodeCamp/devdocs, pull requests merged in 2021-02, with the labels that each got.

#1458 Add OpenJDK version 15
  docs/file-scrapers.md
  lib/docs/filters/openjdk/clean_html.rb
  lib/docs/filters/openjdk/clean_html_new.rb
  lib/docs/filters/openjdk/entries_new.rb
  lib/docs/scrapers/openjdk.rb
Labels: docs/update

#1475 Fix Openjdk additional entries and style
  lib/docs/filters/openjdk/clean_html.rb
  lib/docs/filters/openjdk/clean_html_new.rb
  lib/docs/filters/openjdk/entries.rb
  lib/docs/filters/openjdk/entries_new.rb
  lib/docs/scrapers/openjdk.rb
Labels: docs/improvement

#1477 Update crystal to 0.36.1
  lib/docs/filters/crystal/clean_html.rb
  lib/docs/filters/crystal/entries.rb
  lib/docs/scrapers/crystal.rb
Labels: docs/update

#1482 Add overloaded methods to openjdk 11 & 8
  lib/docs/filters/openjdk/entries.rb
  lib/docs/scrapers/openjdk.rb
Labels: docs/improvement

#1485 Do not show shortcut help when typing '?' in the search box
  assets/javascripts/app/shortcuts.coffee
Labels: improvement

#1483 update Ember docs to latest version
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/ember/clean_html.rb
  lib/docs/filters/ember/entries.rb
  lib/docs/scrapers/ember.rb
Labels: docs/update

#1486 Added Documentation for React-bootstrap
  assets/javascripts/news.json
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/react_bootstrap/clean_html.rb
  lib/docs/filters/react_bootstrap/entries.rb
  lib/docs/scrapers/react_bootstrap.rb
  public/icons/docs/react_bootstrap/16.png
  public/icons/docs/react_bootstrap/16@2x.png
  public/icons/docs/react_bootstrap/SOURCE
Labels: docs/new+request
