Repository freeCodeCamp/devdocs, pull requests merged in 2021-01, with the labels that each got.

#1456 thor updates:check group major/minor updates
  lib/docs/core/doc.rb
  lib/tasks/updates.thor
  test/lib/docs/core/doc_test.rb
Labels: improvement

#1236 Add documentation for OCaml
  assets/javascripts/templates/pages/about_tmpl.coffee
  assets/javascripts/vendor/prism.js
  docs/file-scrapers.md
  lib/docs/filters/ocaml/clean_html.rb
  lib/docs/filters/ocaml/entries.rb
  lib/docs/scrapers/ocaml.rb
  public/icons/docs/ocaml/16.png
  public/icons/docs/ocaml/16@2x.png
  public/icons/docs/ocaml/SOURCE
Labels: docs/new+request, issue/needs-info

#1356 numpy: add versions 1.18 and 1.19
  assets/javascripts/templates/pages/about_tmpl.coffee
  docs/file-scrapers.md
  lib/docs/filters/numpy/entries.rb
  lib/docs/scrapers/numpy.rb
  public/icons/docs/numpy/SOURCE
Labels: docs/update

#1462 Update Rails documentation (6.1.0)
  assets/javascripts/templates/pages/about_tmpl.coffee
  lib/docs/filters/rails/clean_html_guides.rb
  lib/docs/scrapers/rdoc/rails.rb
Labels: docs/update

#1472 Update Erlang documentation (23.2)
  assets/javascripts/templates/pages/about_tmpl.coffee
  docs/file-scrapers.md
  lib/docs/filters/erlang/clean_html.rb
  lib/docs/scrapers/erlang.rb
Labels: docs/update
