Repository freeCodeCamp/devdocs, pull requests merged in 2025-02, with the labels that each got.

#2404 Crystal docs: Use fully qualified name for entries
  lib/docs/filters/crystal/entries.rb
Labels: docs/improvement

#2428 Update Crystal docs to 1.15.1
  lib/docs/scrapers/crystal.rb
Labels: docs/update

#2392 feat(documentation): Add documentation support for three.js
  assets/javascripts/news.json
  docs/file-scrapers.md
  lib/docs/filters/threejs/clean_html.rb
  lib/docs/filters/threejs/entries.rb
  lib/docs/scrapers/threejs.rb
  public/icons/docs/threejs/16.png
  public/icons/docs/threejs/16@2x.png
  public/icons/docs/threejs/SOURCE
Labels: docs/new+request

#2422 [1074] Make Language Specific Favicon Optional
  README.md
  assets/javascripts/app/settings.js
  assets/javascripts/lib/favicon.js
  assets/javascripts/templates/pages/settings_tmpl.js
  assets/javascripts/views/content/settings_page.js
Labels: feature
